<h3>
	Ratings
	<%= if ratings_complete?(@products) do %><i class='fas fa-check survey'></i><% end %>
</h3>
<%= for {product, index} <- Enum.with_index(@products) do %>
	<%= live_component @socket,
		PentoWeb.RatingLive.RatingComponent,
		current_user: @current_user,
		rating: List.first(product.ratings),
		product: product,
		product_index: index,
		id: "product-#{product.id}-form" %>
<% end %>
