<section class="row">
  <%= live_component @socket,
    PentoWeb.DemographicLive.FormComponent,
    demographic: @demographic,
    user: @current_user,
    id: "demographic-form-#{@current_user.id}"%>
</section>
